---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

let allSeriesStories = await getCollection("series");

allSeriesStories = allSeriesStories.sort((a, b) => {
  return b.data.chapterCount - a.data.chapterCount;
});
---

<Layout pageTitle="All Stories">
  <h2>All Series Stories ({allSeriesStories.length} posts)</h2>
  <div class="gallery-container">
    {
      allSeriesStories.map((node) => (
        <article class="gallery-article">
          <a
            href={`/series/${node.data.metadata.storyTitleSlug}`}
            class="story-link"
          >
            {node.data.metadata.storyTitle}
          </a>
          <p>
            Updated on {node.data.metadata.lastUpdatedOn.toDateString()} by
            <a class="underline" href={`/authors/${node.data.metadata.author}`}>
              {node.data.metadata.author}
            </a>
          </p>
          <p>Chapter Count: {node.data.chapterCount}</p>
        </article>
      ))
    }
  </div>
</Layout>
<style>
  .gallery-article {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 200px;
    word-wrap: break-word;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
